
.footer
  .footer-top
    .footer-top-left
      %h2= link_to "FURIMAについて", "#"
      %ul
        %li= link_to "会社概要（運営会社）", "#"
        %li= link_to "プライバシーポリシー", "#"
        %li= link_to "FURIMA利用規約", "#"
        %li=link_to "ポイントに関する特約", "#"
    .footer-top-middle
      %h2= link_to "FURIMAを見る", "#"
      %ul
        %li= link_to "カテゴリー一覧", "#"
        %li= link_to "ブランド一覧", "#"
    .footer-top-right
      %h2=link_to "ヘルプ＆ガイド", "#"
      %ul
        %li= link_to "FURIMAガイド", "#"
        %li= link_to "FURIMAロゴ利用ガイドライン", "#"
        %li= link_to "お知らせ" , "#"
  = image_tag "logo/logo-white.png"
  %p &copy FULIMA