
= form_with(model: @item, local: true) do |f|
  .items_form.items_form_photos
    .items_form_style
      %label 出品画像
      %p.items_mandatory_fields 必須
    %p 最大10枚までアップロードできます
    .photos_input#photos_input
      #input_photos_field
        - if @item.persisted?
          - @item.images.each_with_index do |image, i|
            .input_photo_preview{data: {index: "#{i}"}}
              = image_tag image.image.url
              %span.input_photo_edit 変更
              %span.input_photo_remove 削除
            -break if i == 10
        = f.fields_for :images do |image|
          %label.input_photo_field.input_file_base{data: {index: "#{image.index}"}, accept: ".jpeg .jpg .png"}
            = image.file_field :image, class: "input_photo_file", id: "photo_file_#{image.index}", required: true
            = image_tag "icon/icon_camera.png", class: "fas fa-camera"
            %p.photos_input_text クリックしてファイルをアップロード
          - if @item.persisted?
            = image.check_box :_destroy, data: {index: image.index}, class: "hidden_destroy"
        -if @item.persisted?
          %label.input_photo_field.input_file_add{data: { index: "#{@item.images.count}" }, accept: ".jpeg .jpg .png"}
            = file_field_tag :image, name: "item[images_attributes][#{@item.images.count}][data]", class: "input_photo_file"
            = image_tag "icon/icon_camera.png", class: "fas fa-camera"
            
    .items_caution.photos_caution 画像がありません
    
  .items_form.items_form_item
    .items_name
      .items_form_style
        %label 商品名
        %p.items_mandatory_fields 必須
      = f.text_field :name, class: "items_form_input items_form_name_input", placeholder: "４０文字まで", maxlength: "40", required: true
      .items_caution.name_caution 入力してください
    .items_detail
      .items_form_style
        %label 商品の説明
        %p.items_mandatory_fields 必須
      = f.text_area :detail, class: "items_form_text_area detail_text_area", 
        placeholder: "商品の説明(1000文字以内)\r\n(色、素材、重さ、定価、注意点...)\r\n例)2010年ごろに１万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", 
        maxlength: "1000", cols: "40", required: true
      .notice_text
        .input_text_length 0
        .max_text_length / 1000
      .items_caution#detail_caution 入力してください
        
  .items_form.items_form_info
    .items_category
      .items_form_style
        %label カテゴリー
        %p.items_mandatory_fields 必須
      - if @item.persisted?
        .category_form#category_base
          = f.select :category_id, options_for_select(@categories, selected: @category.id), { include_blank: "選択してください"}, class: "category_list", required: true
        - if @child_category.present?
          .category_form
            = f.select :category_id, options_for_select(@child_categories.map{ |c| [ c[0], c[1] ] }, selected: @child_category.id), { include_blank: "選択してください"}, class: "category_list", required: true
        - else
          .category_form
            = f.select :category_id, options_for_select(@child_categories.map{ |c| [ c[0], c[1] ] }), { include_blank: "選択してください"}, class: "category_list", required: true
        - if @grandchild_category.present?
          .category_form
            = f.select :category_id, options_for_select(@grandchild_categories.map{ |g| [ g[0], g[1] ] }, selected: @grandchild_category.id), { include_blank: "選択してください"}, class: "category_list", required: true
      - else
        .category_form#category_base
          = f.select :category_id, options_for_select(@categories), { include_blank: "選択してください" }, class: "category_list", required: true
      .items_caution#category_caution 選択してください
    .items_brand
      .items_form_style
        %label ブランド
        %p.items_option_fields 任意
      %div
        = f.text_field :brand, value: @item.brand&.name, class: "items_form_input brand_input", placeholder: "例）シャネル"
    .items_status
      .items_form_style
        %label 商品の状態
        %p.items_mandatory_fields 必須
      = f.select :status, Item.localed_statuses, { include_blank: "選択してください" }, class: "status_select", required: true
      .items_caution#brand_caution 選択してください

  .items_form.items_form_post
    配送について
    .items_post.items_pay_side
      .items_form_style
        %label 配送料の負担
        %p.items_mandatory_fields 必須
      = f.select :pay_side, Item.localed_pay_sides, { include_blank: "選択してください" }, class: "pay_side_select", required: true
      .items_caution.pay_side_caution 選択してください
    .items_post.items_post_way
      .items_form_style
        %label 配送の方法
        %p.items_mandatory_fields 必須
      = f.collection_select :post_way_id, PostWay.all, :id, :name,{ autofocus: true, include_blank: "選択してください"}, { class: "post_way_setlect", required: true}
      .items_caution.post_way_caution 選択してください
    .items_post.items_post_prefecture
      .items_form_style
        %label 発送元の地域
        %p.items_mandatory_fields 必須
      = f.collection_select :prefecture_id, Prefecture.all, :id, :name,{ autofocus: true, include_blank: "選択してください"}, { class: "post_way_setlect", required: true}
      .items_caution#prefecture_caution 選択してください
    .items_post.items_post_date
      .items_form_style
        %label 発送までの日数
        %p.items_mandatory_fields 必須
      = f.select :post_date, Item.localed_post_dates, { include_blank: "選択してください" }, class: "post_date_select", required: true
      .items_caution#post_date_caution 選択してください

  .items_form_price
    .rate_show
      %p.price_rate 価格（¥300〜9,999,999)
      %label
        %i.fas.fa-question-circle
    .input_selling_price
      .items_form_style.price_items_form_style
        %label 販売価格
        %p.items_mandatory_fields 必須
        %p{ class: "¥mark" } ¥
        = f.number_field :price, class: "price_input", min: "300", max: "9999999", placeholder: "0", required: true
      .items_caution#input_price_caution 入力してください
    .price_display.display_fee
      %div 販売手数料(10%)
      %span.display_value.display_fee_value 
    .price_display.display_profit
      %div 販売利益
      %span.display_value.display_profit_value

  .items_form.items_form_submit
    .items_form_btn.items_form_submit_btn
      - if @item.persisted?
        %button{type: "submit", class: "items_btn_submit item_submit"} 変更する
      - else
        %button{type: "submit", class: "items_btn_submit item_submit"} 出品する
    - if @item.persisted?
      .items_btn_back
        = link_to "キャンセル", item_path(@item)
    - else
      .items_btn_back
        = link_to "もどる", root_path
  .items_form_notice
    %p.notice_text 
      禁止されている"行為"および"出品物"を必ずご確認ください。
      偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。
      また、出品をもちまして加盟店規約に同意したことになります。
