
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title Elect Archive
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body

    .header
      %h1= link_to "Elect Archive", root_path 
      .header-nav
        - if user_signed_in?
          = link_to  "掲示板", comments_path
          = link_to  "新規投稿", new_post_path
          .header-nav-lists
            %p= current_user.name + "▼"
            %ul
              %li= link_to "マイページ", user_path(current_user.id)
              %li= link_to "アカウント設定", edit_user_registration_path
              %li= link_to "ログアウト", destroy_user_session_path, method: :delete
        - else
          = link_to "ログイン", new_user_session_path
          = link_to "新規登録", new_user_registration_path 
          
    .content
      %p.notice=notice
      %p.alert=alert
    
    = yield

    .footer
      %p Copyright &copy; Elect Archive 2020.