= render "templates/form_header"
.main
  .main__container
    .main__container__head
      %h2 住所情報入力
    .main__container__form
      .content-wrap
        = form_for @address do |f|
          = render "devise/shared/error_messages", resource: @address
          .field
            .field-label
              = f.label :zipcode, "郵便番号"
              %span.form-term.form-term__require 必須
            .field-input
              = f.text_field :zipcode, autofocus: true, class: 'input-default postcd required', id: 'address_zipcode', placeholder: '例)123-4567', maxlength: 8, required: true
          .field
            .field-label
              = f.label :prefecture, "都道府県"
              %span.form-term.form-term__require 必須
            .field-select
              = f.collection_select :prefecture_id, Prefecture.all, :id, :name, {autofocus: true, include_blank: "選択してください"}, {class: 'select-default', id: 'address_prefecture_name', required: true}
          .field
            .field-label
              = f.label :city, "市町村区"
              %span.form-term.form-term__require 必須
            .field-input
              = f.text_field :city, autofocus: true, class: 'input-default required', id: 'address_city', placeholder: '例)大阪市北区', required: true
          .field
            .field-label
              = f.label :address, "番地"
              %span.form-term.form-term__require 必須
            .field-input
              = f.text_field :address, autofocus: true, class: 'input-default required', id: 'address_street', placeholder: '例)中崎3-1', required: true
          .field
            .field-label
              = f.label :build_name, "建物名"
              %span.form-term.form-term__any 任意
            .field-input
              = f.text_field :build_name, autofocus: true, class: 'input-default', placeholder: '例)キタノハイツ202'
          %p.field-info-text ※本人情報は正しく入力してください。会員登録後、修正するにはお時間をいただく場合があります。
          .actions
            = f.submit "登録する", class:'btn'
= render "templates/form_footer"