
= render partial: 'templates/header'
.items_show
  .items_show-top
    %h2= @item.name
    .items_show-top-detail
      .items_show-top-detail-image
        .items_show-top-detail-image-outline
          - if @item.situation == "transaction" 
            = image_tag 'pict/soldout.jpg', id:"soldout_img"
          = image_tag @item.images.first.data.url, class: "item-photo__top"
        .item-photo__sub-box
          - @item.images.each do |image|
            .item-photo__sub-box__photo
              = image_tag image.data.url, class: "item-other-photo"
      %table
        %tr
          %th 出品者
          %td
            = link_to @item.user.nickname, "#"           
            -# .evaluation
            -#   .eva-box
            -#     %i.fas.fa-smile-beam.fa-lg
            -#     %span= good_count(@item.user.evaluates)
            -#   .eva-box
            -#     %i.fas.fa-meh.fa-lg
            -#     %span= normal_count(@item.user.evaluates)
            -#   .eva-box
            -#     %i.fas.fa-sad-tear.fa-lg
            -#     %span= bad_count(@item.user.evaluates)
        %tr
          %th カテゴリー
          %td 
            sa
            -# = link_to @item.category.parent&.parent&.name ,category_all_items_path(category_id:@item.category.parent&.parent&.id)
            -# .sub-category
            -#   = link_to category_all_items_path(category_id:@item.category.parent&.id) do
            -#     %i.fa.fa-angle-right
            -#     = @item.category.parent&.name
            -# .sub-sub-category
            -#   = link_to category_all_items_path(category_id:@item.category.id) do
            -#     %i.fa.fa-angle-right
            -#     = @item.category.name
        %tr
          %th ブランド
          %td
            = link_to @item.brand&.name, "#"
        %tr
          %th 商品の状態
          %td
            = @item.status_i18n
        %tr
          %th 配送料の負担
          %td
            = @item.pay_side_i18n
        %tr
          %th 配送元地域
          %td
            = @item.prefecture.name

-#       .item-price-box
-#         %span.item-price
-#           = number_to_currency(@item.price,format: "%u%n",unit:"¥",precision: 0)
-#         - if @item.pay_side == "seller"
-#           %span.item-tax
-#             (税込)
-#           %span.item-shipping-fee
-#             送料込み
-#         - else @item.pay_side == "buyer"
-#           %span.item-tax
-#             (税込)
-#       - if user_signed_in? && current_user.id == @item.user_id && @item.situation == "exhibition"
-#         .item-explanation
-#           %p.item-explanation__box
-#             = safe_join(@item.detail.split("\n"),tag(:br))
-#         = link_to "商品の編集", edit_item_path(@item), class: "item-edit-btn"
-#         %p.text-center
-#           or
-#         = link_to "出品を一旦停止する", "#", class: "item-action-btn"
-#         %button.item-delete-btn この商品を削除する
-#       - elsif @item.situation == "exhibition"
-#         = link_to "購入画面に進む", new_item_buy_path(@item.id), class: "item-buy-btn"
-#       - else @item.situation == "transaction"
-#         .item-buy-btn.disabled 売り切れました
-#         .item-explanation
-#           %p.item-explanation__box
-#             = safe_join(@item.detail.split("\n"),tag(:br))
-#       .item-btn-container
-#         .item-btn-left
-#           %label.report-btn.like_btn
-#             = render "templates/like_item", locals: { item: @item }
-#           %label.report-btn.improper_btn
-#             = link_to "#", id: "improper_btn" do
-#               %i.far.fa-flag
-#               %span 不適切な商品の報告
-#         .item-btn-right
-#           %label.report-btn
-#             = link_to "#", id: "activities_btn" do
-#               %i.fas.fa-lock
-#               %span あんしん・あんぜんへの取り組み
-#   .item-detail-message
-#     .message-container
-#       .message-content
-#         - if @comments.present?
-#           - @comments.each do |comment_info|
-#             %ul.guest-message-box
-#               = link_to "#", class: "message-user" do
-#                 .message-user__thumbnail
-#                   - if comment_info.user.image.present?
-#                     = image_tag comment_info.user.image.url
-#                   - else 
-#                     = image_tag "icon/member_photo_noimage_thumb.png"  
-#                 .user_name            
-#                   = comment_info.user.nickname
-#                   - if comment_info.user == @item.user
-#                     ( 出品者 )
-#               %li.guest-message-item.clearfix
-#                 .message-box
-#                   .message-box__text
-#                     = comment_info.comment
-#         - if user_signed_in?
-#           .message-content
-#             %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
-#             = form_with(model:[@item,@comment], local: true) do |f|
-#               = f.text_area :comment, class: "message_text_area", maxlength: "100", cols: "60"
-#               = f.submit "コメントする", class: "message-btn"
-#   %ul.nav-prev-next-box.clearfix
-#     %li.nav-prev-next-box__left
-#       = link_to "#" do
-#         %i.fa.fa-angle-left
-#         前の商品名
-#     %li.nav-prev-next-box__right
-#       = link_to "#" do
-#         次の商品
-#         %i.fa.fa-angle-right
-#   .sns-content
-#     .sns-content__icon-box
-#       = link_to "#", class: "icon-btn icon-btn__facebook" do
-#         %i.fab.fa-facebook-square
-#       = link_to "#", class: "icon-btn icon-btn__twitter" do
-#         %i.fab.fa-twitter-square
-#       = link_to "#", class: "icon-btn icon-btn__line" do
-#         %i.fab.fa-line
-#       = link_to "#", class: "icon-btn icon-btn__pinterest" do
-#         %i.fab.fa-pinterest-square
-#   .items-container
-#     %h2.item-box-head
-#       = link_to @item.user do
-#         = link_to "#{@item.user.nickname}さんのその他の出品", @item.user
-#     .items-box-content.clearfix
-#       - @other_items.each do |item|
-#         .item-box
-#           = link_to item_path(item.id) do
-#             .item-image
-#               =image_tag item.images.first.image.url, class: "item-other-photo"
-#             .item-body
-#               %h3.item-name
-#                 = item.name
-#               .item-num
-#                 .item-price
-#                   = number_to_currency(item.price,format: "%u%n",unit:"¥",precision: 0)
-#                 - if item.liked_by?(current_user) 
-#                   .item-like.liked
-#                     %i.far.fa-heart
-#                     %span.count= item.likes.count
-#                 - else
-#                   .item-like.no-like
-#                     %i.far.fa-heart
-#                     %span.count= item.likes.count
-#   = render partial: 'templates/footer'

-# -# 商品削除のモーダル
-# .modal.js-modal
-#   .modal__bg.js-modal-close
-#   .modal__content
-#     .delete-content
-#       %p.modal-head 確認
-#       %p 削除すると二度と復活できません。
-#       %p 削除する代わりに停止することもできます。
-#       %br 本当に削除しますか？
-#     .button-box.clearfix
-#       %button.cancel-btn.js-modal-close キャンセル
-#       = link_to "削除する", item_path(@item.id), method: :delete, class: "delete-btn"
  