
.footer
  .footer__lists
    = link_to "プライバシーポリシー","#"
    = link_to "利用規約","#"
    = link_to "特定商取引に関する表記","#"
  = link_to root_path do
    = image_tag 'logo/logo.png', size: "185x49", class: "footer__logo"
  %p ©FURIMA
