.mains_index__header
  .contents
    .contents__top
      %h1.contents__top__left
        = link_to "/", class: "top_logo"  do
          = image_tag src="logo/logo.png",class:"top_logo__img"
      .contents__top__right
        = form_with(url: search_items_path, local: true, method: :get, class: "search-form") do |f|
          = f.text_field :keyword, placeholder: "キーワードから探す", class: "search_box"
          %label
            = image_tag src="icon/icon-search 1.png",class:"search_icon"
            = f.submit "検索", class: "search-btn"
    .contents__bottom
      .header-bottom-left
        .header-bottom-left-category
          = link_to "カテゴリー", api_category_path(0) ,class: "category_name", id: "catroy_top_title"
          .header-bottom-left-category-field    
      - if user_signed_in?
        %ul.contents__bottom__right
          %li
            = link_to "ログアウト", destroy_user_session_path, method: :delete
            = link_to "マイページ", user_path(current_user.id)
      -else
        %ul.contents__bottom__right
          %li
            = link_to "ログイン", new_user_session_path
            = link_to "新規会員登録", new_user_registration_path
  = breadcrumbs separator: " ＞ "
  .header_flash
    - if flash[:error]
      = flash[:error]