%ul.items
  - @items.each do |item|
    %li.item
      = link_to item_path(item.id), class: "item_link" do
        - if item.situation == "transaction"
          = image_tag 'pict/soldout.jpg', id: "soldout_img"
        .image
          = image_tag item.images.first.image.url, class: "item_pic"
          .item_price= number_to_currency(item.price,format: "%u%n", unit: "¥", precision: 0)
        .info
          .name= item.name.truncate(22)
          - if user_signed_in?
            - if item.liked_by?(current_user)
              .like.liked
                %i.far.fa-heart
                %span.count= item.likes.count
            - else
              .like.no_like
                %i.far.fa-heart
                %span.count= item.likes.count
          - else
            .like.no_like
              %i.far.fa-heart
              %span.count= item.likes.count