
= render "layouts/header"
.homes_show
  %h2 このサイトについて
  %p 
  　このサイトは、物理学に関する記事を投稿するために作成されたものです。
  初学者の方がよく躓く部分をピックアップして丁寧にわかりやすい説明を心掛けております。
  .homes_show-image
    = image_tag "Aristotle.jpg"
    = image_tag "Galileo.jpg"
    = image_tag "Newton.jpg"
    = image_tag "Euler.jpg"
    = image_tag "Maxwell.png"
    = image_tag "Einstein.jpg"
    = image_tag "Bohr.jpg"
  