.mains_index
  = render partial: 'templates/header',locals: {categories:@categories}
  .top_visual
    .content
      %h2.content__title 人生を変えるフリマアプリ
      %p.content__text
        FURIMAはだれでもかんたんに出品・購入できる 
        %br
        フリマアプリです
      .content__btn
        = link_to "#", class: "a-btn" do
          = image_tag 'http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg'
        = link_to "#", class: "g-btn" do
          = image_tag 'http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg'
  .top_intro
    %h2.title FURIMAが選ばれる3つの理由
    %ul.top_pops
      %li.top_pop
        .top_pop__pic
          .number 1
          = image_tag src="pict/pict-reason-01.jpg",class:"top_pic"
        %h3.top_subtitle 3分 ですぐに出品
        %p スマホで入力するだけで簡単に出品できる！
      %li.top_pop
        .top_pop__pic
          .number 2
          = image_tag src="pict/pict-reason-02.jpg",class:"top_pic"
        %h3.top_subtitle シンプル で使いやすい
        %p めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.top_pop
        .top_pop__pic
          .number 3
          = image_tag src="pict/pict-reason-03.jpg",class:"top_pic"
        %h3.top_subtitle 手数料 業界最安
        %p.top_text 最大3%でお得に出品&購入！
  .middle_visual
    .content
      %h2.content__title 会員数日本一位
      %p.content__text
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。
  .middle_intro
    %h2.mid_title FURIMAの特徴
    .mid_pops
      .mid_pop
        = image_tag src="icon/icon-01.png",class:"mid_pic"
        %h3.mid_subtitle 簡単に売り買いできる
        %p スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      .mid_pop
        = image_tag src="icon/icon-03.png",class:"mid_pic"
        %h3.mid_subtitle 売上金は即日振込みに対応
        %p 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      .mid_pop
        = image_tag src="icon/icon-04.png",class:"mid_pic"
        %h3.mid_subtitle 様々な支払いに対応
        %p お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  - if @items.present?
    .mains_index__body
      %h2.head 新規投稿商品   
      .look
        = link_to "もっと見る",all_items_path,class:"look__more"
        = render "templates/list_items"
                
  .bottom_visual
    .content
      %h2.content__title だれでもかんたん、人生を変えるフリマアプリ
      %p.content__text 今すぐ無料ダウンロード！
      .content__btn
        = link_to "#", class: "a-btn" do
          = image_tag 'http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg'
        = link_to "#", class: "g-btn" do
          = image_tag 'http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg'
  = render partial: 'templates/purchase'
  = render partial: 'templates/footer'