
- if @category.blank?
  - breadcrumb :all_category
- elsif @category.parent.blank?
  - breadcrumb :parent_category, @category
- elsif @category.parent.parent.blank?
  - breadcrumb :child_category, @category
- elsif @category.parent.parent.parent.blank?
  - breadcrumb :grandchild_category, @category

= render partial: 'templates/header', locals: {categories: @categories}
.categories_show
  .detail
    - if @category.blank?
      %h2 カテゴリー一覧
      .children
        - @categories.each_with_index do |category, i|
          %label.link{data: {index: i}}
            .link_name= category.name
    - else
      %h2= "#{@category.name}の商品一覧"
      .children
        - @category.children.each do |child|
          .link= link_to child.name, category_all_items_path(category_id: child.id)
  .mains_index
    .mains_index__body
      .look
        - if @category.blank?
          %ul.items
            - @categories.each_with_index do |category, i|
              %ul.list_category{data: {index: i}}
                %li.category_name= link_to category.name, category_all_items_path(category_id: category.id)
                - category.children.each do |child|
                  %ul.list_child
                    %li.child_category_name= link_to child.name, category_all_items_path(category_id: child.id)
                    %ul.list_grandchild
                      - child.children.each do |grandchild|
                        %li.link_grandchild_category=link_to grandchild.name, category_all_items_path(category_id: grandchild.id)
        - else
          %ul.items
            - @category.items.each do |item|
              %li.item
                = link_to item_path(item.id),class:"item_link"  do
                  .image
                    = image_tag item.images.first.image.url,class:"item_pic"
                    .item_price= number_to_currency(item.price,format: "%u%n",unit:"¥",precision: 0)
                  .info
                    %h3= item.name
            - if @category.children.present?
              - @category.children.each do |child|
                - child.items.each do |childitem|
                  %li.item
                    = link_to item_path(childitem.id),class:"item_link" do
                      .image
                        = image_tag childitem.images.first.image.url,class:"item_pic"
                        .item_price= number_to_currency(childitem.price,format: "%u%n",unit:"¥",precision: 0)
                      .info
                        %h3= childitem.name
                - if child.children.present?
                  - child.children.each do |grandchild|
                    - grandchild.items.each do |granditem|
                      %li.item
                        = link_to item_path(granditem.id),class:"item_link" do
                          .image
                            = image_tag granditem.images.first.image.url,class:"item_pic"
                            .item_price= number_to_currency(granditem.price,format: "%u%n",unit:"¥",precision: 0)
                          .info
                            %h3= granditem.name
    = render partial: 'templates/footer'
    = render partial: 'templates/purchase'